{{#each productos}}
<li id="{{this.id}}">
    TITULO: {{this.title}}<br>
    DESCRIPCION: {{this.description}}<br>
    CODE: {{this.code}}<br>
    STOCK: {{this.stock}}<br>
    CATEGORIA: {{this.category}} <br>
    <button onclick="deleteProduct({{this.id}})">DELETE</button>
</li> <br>
{{/each}}


<script src="/js/home.js"></script>